<div class="message <%=  message.user == current_user ? "right" : "" %> ">
  <div class="message-content"><%=message.content %>
    <span><%= message.user.first_name %></span>
    <small><%= message.created_at.strftime("%a %b %e at %l:%M%p") %></small>
  </div>
</div>
