<small><%= message.user.first_name %> - <%= message.created_at.strftime("%a %b %e at %l:%M%p") %></small>
<div class="message <%=  message.user == current_user ? "right" : "" %> ">
  <div class="message-content"><%=message.content %>
  </div>
</div>
