.min-height{
  min-height: 78vh;
}

.image-availabilities {
    height: 100%;
    background-position: center;
    background-size: cover;
}

@media screen and (max-width: 600px) {
  .image-availabilities {
    display: hidden;
    position: absolute;
  }
}
