<!-- Salmon dish -->
<div class="image-home" style="background-image: linear-gradient(rgba(250,250,250,0.4),rgba(250,250,250,0.4)), url('https://images.unsplash.com/photo-1574484284002-952d92456975?ixlib=rb-1.2.1&auto=format&fit=crop&w=2734&q=80');">
</div>

<!-- curry dish -->
<!-- <div class="image-home" style="background-image: linear-gradient(rgba(250,250,250,0.4),rgba(250,250,250,0.4)), url('https://images.unsplash.com/photo-1588166524941-3bf61a9c41db?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=2731&q=80');">
</div> -->
