// Define variables for your color scheme

// For example:
$red: #FD1015;
$blue: #167FFB;
$yellow: #FFC65A;
$orange: #E67E22;
$green: #5aaa95;
$gray: #0E0000;
$light-blue: #F2F4F8;
$medium-blue: #A4BAD4;
$light-gray: #5B79A6;
$sunshine: #EFC11A;
$dark-gray: #0f1108;
