
// Specific CSS for your home-page
@media only screen and (max-width: 600px) {
  .row-home-page {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
  }
  #row-reverse {
    flex-direction: column-reverse;

  }
}

@media only screen and (min-width: 601px) {

}

.page-container {
  width: 100%;
  min-height: 100vh;
  overflow-x: hidden;
}

.image-home {
  min-height: 250px;
  width: 100%;
  height: 100%;
  min-height: 200px;
  background-position: center;
  background-size: cover;
}

#yield-content {
  min-height: calc(100vh - 220px);
}