<div id="create_chatroom">
  <%= simple_form_for @chatroom do |f| %>
  <%= f.input :name, placeholder: "Write your message" %>
  <%= f.button :submit, 'Send', class: 'button btn-effect' %>
  <% end %>
</div>
