<section class="error-container">
  <span>5</span>
  <span><span class="screen-reader-text">0</span></span>
  <span>0</span>
</section>

<div class="text-center">
  <p>This is an internal error. We apology for the inconvenience.</p>
  <span><a href="/">go back</a></span>
</div>