<section class="error-container">
  <span>4</span>
  <span><span class="screen-reader-text"></span></span>
  <span>2</span>
</section>

<div class="text-center">
  <h3>The issue is probably due to a semantic error. We apology for the inconvenience.</h3>
  <span><a href="/">go back</a></span>
</div>
