<div class="banner">
  <h1>Home Chef</h1>
</div>



<div class="profile">

<h3>here display the fantastic navbar below</h3>
<div class="dashboard d-flex flex-grow">

  <h3>Hello, I'm <%= @cooker.first_name.capitalize %></h3>

  <p>My bio: <%= @cooker.bio %></p>

  <p>My price: <%= @cooker.price %>€ / hour</p>


  <h1>RENDER MODAL ZITH FORM HERE</h1>

  <%= link_to new_user_booking_path(@cooker,@booking) do %>
    <div class="text-center btn-effect">
      Book me!
    </div>
  <% end %>

</div>
