.banner {
  background-size: cover;
  background-position: center;
  background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)),
                  url(../../../images/homepage.jpg);
  padding: 150px 0;
}

.banner h1 {
  margin: 2;
  text-shadow: 1px 1px 3px rgba(0,0,0,0.2);
  font-size: 42px;
  font-weight: bold;
}

.banner p {
  font-size: 24px;
  opacity: .7;
  text-shadow: 1px 1px 3px rgba(0,0,0,0.2);
}


