.btn-effect {
  background-color: #EFC11A;
  border-radius: 15px;
  width: 137px;
  font-family: 'Staatliches', 'sans-serif';
  text-decoration: none;
  text-align: center;
  margin: 20px 10px;
    h3 {
      font-size: 20px;
      color: #0f1108;
      padding: 5px;
      &:hover {
        text-decoration: none;
      }
    }
    &:hover {
      box-shadow: 4px 4px 1px black;
    }
}

a {
  text-decoration: none !important;
}

#cooker {
  background-color: #A4BAD4;
}

.toto {
  color: red;
  box-shadow: 4px 4px 1px blue;
}

