// general button class
button {
  border: none;
  cursor: pointer;
  text-align: center;
  h3 {
    margin: 0;
  }
  &:focus {
    outline: none;
  }
}

.btn {
  color: $sunshine;
  font-family: 'Staatliches', 'sans-serif';
  outline: 0;
  &:hover {
    color: $dark-gray;
  }
}

// main button style
.btn-effect {
  background-color: #EFC11A;
  color: $dark-gray;
  border-radius: 15px;
  width: 137px;
  font-family: 'Staatliches', 'sans-serif';
  text-decoration: none;
  text-align: center;
  padding: 5px;
  margin: 20px 10px;
  outline: none;
    h3 {
      font-size: 20px;
      color: $dark-gray;
      margin: 0;
      &:hover {
      text-decoration: none;

      }
    }
    &:hover {
      cursor: pointer;
      box-shadow: 4px 4px 1px $dark-gray;
    }
}

// links
a {
  text-decoration: none !important;
  color: $sunshine;
  outline: none;
  font-family: 'Staatliches', 'sans-serif';
  &:hover {
    color: $dark-gray;
  }
}

// Class active
.active-toto {
  background-color: $light-blue;
  box-shadow: 4px 4px 1px $medium-blue;
}
// .active {
//   border-style: none;
// }


// banner buttons
.btn-banner {
  border-radius: 15px;
  min-width: 170px;
  min-height: 50px;
  margin: 30px;
  box-shadow: 4px 4px 1px $dark-gray;
  background-color: $medium-blue;
  color: $dark-gray;
  text-align: center;
  outline: none;
    h3 {
      margin: 0;
    }
    &:hover {
      color: $light-blue;
      box-shadow: 4px -4px 1px $light-blue;
    }
    &:focus {
      outline: none;
    }
  }

#cooker {
  background-color: $sunshine;
}

// Button for search bar
.btn-search {
  background-color: #EFC11A;
  color: $dark-gray;
  border-radius: 15px;
  width: 180px;
  font-family: 'Staatliches', 'sans-serif';
  text-decoration: none;
  text-align: center;
  box-shadow: 4px 4px 1px $dark-gray;
  height: 36px;
  margin-top: 10px;
  margin-bottom: 10px;
  margin-left: 10px;
  margin-right: 10px;
  outline: none;
  border: none;
  &:hover {
    color: $light-blue;
    box-shadow: 4px 4px 1px $light-blue;
    }
  &:focus {
    outline: none;
  }
}

.btn-disabled {
  background-color: $medium-blue;
  color: $dark-gray;
  border-radius: 15px;
  width: 137px;
  font-family: 'Staatliches', 'sans-serif';
  text-decoration: none;
  text-align: center;
  padding: 5px;
  margin: 20px 10px;
  outline: none;
}






