@media only screen and (max-width: 600px) {
  .row-cook {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
  }
  .card-cooker {
      width: 90%;
    }
}

@media only screen and (min-width: 601px) {

}

@media only screen and (min-width: 992px) {

}


.card-cooker {
  background-color: $light-blue;
  border-radius: 5px;
  box-shadow: 4px 4px 1px $dark-gray;
  text-align: center;
  color: $dark-gray;
  margin: 16px;

    &:hover {
      background-color: $light-blue;
      box-shadow: 4px 4px 1px $sunshine;
    }
    h3:hover {
      color: $sunshine;
    }
    img {
      width: 300px;
      height: 300px;
      border-radius: 5px 5px 0 0;
      object-fit: cover;
    }
}
