.footer-effect {
  // height: 15%;
  width: 100%;
  background: #F2F4F8;
  padding: 0px 30px;
  color: $dark-gray;
    h6 {
      opacity: 0.8;
      color: dark-gray;
      margin: 0px;
      font-size: 14px;
    }
}
.footer-links {
  display: flex;
  // align-items: center;
}

.footer-links a {
  color: #0f1108;
  opacity: 0.15;
  text-decoration: none;
  font-size: 24px;
  padding-bottom: 10px;
  padding-right: 10px;
  padding-left: 10px;
}
.footer-links a:hover {
  opacity: 1;
}


@media only screen and (max-height:600px) {
  .footer-effect .footer-links {
    display: block;
    width: 100%;
    text-align: center;
    display: flex;
    position: absolute;
  }
}


