.header {
  width: 100%;
  height: 15%;
  padding: 20px;
  background-color: $light-blue;
  z-index: 1;
  margin-bottom: 15px;
    h1 {
    font-size: 50px;
    font-weight: bolder;
    color: $dark-gray;
    text-shadow: 3px 3px $sunshine;
    margin: 20px;
  }
    h3 {
      font-size: 20px;
      margin: 0 40px;
    }
}

.sticky {
  position: fixed;
  top: 0;
  width: 80%
}

.sticky + .content {
  padding-top: 102px;
}
