// .navbar-lewagon {
//   justify-content: space-between;
//   background: white;
// }

// .navbar-lewagon .navbar-collapse {
//   flex-grow: 0;
// }

// .navbar-lewagon .navbar-brand img {
//   width: 40px;
// }

.navbar {
  position: fixed;
  right: 0;
  top: 0;
  width: 100px;
  z-index: 2;
  background-color:#EBFFFE;
  height: 15%;
}
.navbar-lewagon {
  justify-content: space-between;
  background: #EBFFFE;
}

.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
}

.dropdown-menu a {
  text-decoration: none;
  color: inherit;
}

.one { width: 50px; }
.two { width: 40px; }
.three { width: 30px;}
