.navbar {
  height: 15%;
  position: fixed;
  right: 0;
  top: 0;
  width: 20%;
  z-index: 1;
  opacity: 100%;
  background-color: #F2F4F8;
  justify-content: center;
}

.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
}

.dropdown-menu a {
  text-decoration: none;
  color: inherit;
}

.one { width: 50px; }
.two { width: 40px; }
.three { width: 30px;}
