.navbar {
  position: fixed;
  right: 0;
  top: 0;
  width: 100px;
  z-index: 1;
  height: 15%;
  opacity: 100%;
}

.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
}

.dropdown-menu a {
  text-decoration: none;
  color: inherit;
}

.one { width: 50px; }
.two { width: 40px; }
.three { width: 30px;}
