@media only screen and (max-width: 600px) {
  #info-column {
    display: flex;
    align-items: center;
    flex-direction: column;
  }
}

.profile-layout {
  background-color: $light-blue;
  color: $dark-gray;
  border-radius: 5px;
  box-shadow: 4px 4px 1px $dark-gray;
  // width: 85vw;
  // height: 70vh;
  margin: auto;
    h6 {
      // margin-top: 20px;
      // margin-bottom: 16px;
      color: $dark-gray;
    }
}

#cook-display {
  background-color: $medium-blue;
  color: $light-blue;
  font-family: 'Staatliches', 'sans-serif';
  border-radius: 15px;
  padding: 5px;
}

.quotebox {
  position: relative;
  padding: 50px 30px;
}

.quotebox--quotes:before,
.quotebox--quotes:after {
  position: absolute;
  font-family: serif;
  font-size: 60px;
  font-weight: bold;
  line-height: 1;
}

.quotebox--quotes:before {
  top: 15px;
  left: 0px;
  content: '\201c';
}

.quotebox--quotes:after {
  bottom: 10px;
  right: 0px;
  content: '\201d';
}
