.search-bar {
  display: flex;
  background-color: $medium-blue;
  height: 10vh;
  width: 70vw;
  border-radius: 30px;
  box-shadow: 5px 5px 1px $dark-gray;
    &:hover {
      box-shadow: 5px 5px 1px $light-blue;
    }
  @media only screen and (max-width: 966px) {
    min-height: 20vh;
    padding: 8px;
  }
}

.search-responsive {
  display: flex;
  width: 95%;
  @media only screen and (max-width: 600px) {
    display: block;
  }
}

#min_price {
  margin: 10px 16px;
  max-width: 105px;
  @media only screen and (max-width: 600px) {
    margin: 0;
  }
}

#max_price {
  margin: 10px 0;
  max-width: 105px;
  @media only screen and (max-width: 600px) {
    margin: 0 0 10px 0;
  }
}

.query-search {
  margin: 10px 0;
  max-width: 50%;
  @media only screen and (max-width: 600px) {
    max-width: 100%;
  }
}
